div#call {
  
  display: block;
  margin: 0 auto;
  width: 500px;
  height: 500px;
}
#login{
  background-color: rgb(183, 183, 197);
  animation-direction: alternate;
}
#video local,remote {
  background: white;
  border: 1px solid gray;
  
}
#mainContainer{
  background-color:whitesmoke;

}
button#login{
  background-color: aquamarine;
}
#callArea{
  padding-top: 100px;
  height: 200px;
  width: 100%;
}

.friend_list{
min-height: 20%;
max-height: 30%;
}
.show{
  display: block;
  
}
.hide{
  display: none;
}
#div_searched_friend{
  width: 100%;
  height: 70px;
  position: relative;
  padding-top: 7px;
  
}
.txt_color{
  color:rgb(255, 255, 255);
}
.hover{
  cursor: pointer;
}